:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --basic-clr: #64748b;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
#preview-a{
  color: #ef4444;
  transition: color .2s; 
}
#preview-a:hover{
  color: #f87171;
}
h1{
  transition: .4s;
}
h1:hover{
  transform: scale(1.035);
}
#ps{
  color: var(--basic-clr);
  font-size: 0.8em; 
line-height: 4.5rem;
  animation: blob-filter 7.5s infinite ease running;
}
#ps:hover{
  animation-play-state: paused;
}
@keyframes blob-filter{
  from, to{filter: drop-shadow(0 .25em 1em #ffffff)}
  20%{filter: drop-shadow(0 .25em 1em #d8b4fe)}
  40%{filter: drop-shadow(0 .25em 1em #86efac)}
  60%{filter: drop-shadow(0 .25em 1em #fcd34d)}
  80%{filter: drop-shadow(0 .25em 1em #93c5fd)}
}
#smile{
  animation: cool 5s ease infinite running;
  transition: transform .5s;
}
#idea{
  transform: translateY(.35rem);
}
#dev-a{
  color: var(--basic-clr);
transition: color .4s;
}
#dev-a:hover{
  color: yellow;
}

@keyframes cool{
  from, to{transform: translateY(.45rem) rotate(0deg)}
  33%{transform: translateY(.45rem) rotate(360deg)}
  66%{transform: translateY(.45rem) rotate(720deg)}
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
#react{
  animation: spin 2s linear infinite paused;
}
#react:hover {
  filter: drop-shadow(0 0 2em #06b6d4);
  animation-play-state: running;
}
#js:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}
#eslint{
  animation: spin 2s linear infinite paused;
}
#eslint:hover{
  filter: drop-shadow(0 0 3em #5b21b6);
  animation-play-state: running;
}
@keyframes spin{
  from{transform: rotate(0)}
  to{transform: rotate(360deg)}
}
#vite{
  animation: jump .2s ease infinite paused;
}
#vite:hover{
  filter: drop-shadow(0 0 2em #e879f9);
  animation-play-state: running;
}
#ts:hover{
  filter: drop-shadow(0 0 2em #60a5fa)
}
@keyframes jump{
  to{transform: translateY(0)}
  50%{transform: translateY(-1rem)}
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #22c55e;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#gateway{
  color: #22c55e;
  font-weight: bold;
  transition: color .2s;
}
#gateway:hover{
  color: #bbf7d0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #06b6d4;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color .5s, color .5s;
}
button:hover {
  border-color: #ea580c;
  color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

