#root {
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 2rem;
  --primary-clr: #ffffff;
  --scd-clr: #000000
}

#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  border-radius: 10px; 
  width: 100%;
  color: #FFF;
  background: #334155;
  margin: 0;
}

.navchild{
  padding: 0 5%;
  font-size: 1.2em;
}
