body{	
	height: 100vh;
	display: grid;
	place-items: center;
	user-select: none;
	overflow: hidden;
	padding: 0;
}
.pod{
	color: transparent;
	background: #666666;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
	height: 100%;
	width: 100%;
	color: #292524;
}
.distime{
	font-size: 3em;
	width: clamp(250px, 50%, 750px);
}

@media (prefers-color-scheme: dark) {
  .pod {
    background: #753;
    color: #dcb;
    background-clip: none;
  }
}

